.container {
  width: 100%;
  padding: 100px 0;

  .content {
    width: 100%;

    .grid {
      width: 100%;
      justify-content: center;
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(auto-fit, 450px);
      padding: 100px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 50px 0;

    .content {
      .grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 100px 30px;
      }
    }
  }
}