.container:hover {
  box-shadow: 20px 20px var(--fg-1) !important;
  transform: translate(-10px, -10px);
}

.container {
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  height: 400px;
  transform: translate(0, 0);

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .thumbnail {
      position: relative;
      width: 100%;
      flex: 1;
      overflow: hidden;

      .image {
        object-fit: cover;
      }
    }

    .info {
      width: 100%;
      padding: 30px 30px 20px 30px;

      h2 {
        margin: 0 0 10px 0;
        font-weight: normal;

        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
      }

      .date {
        margin: 0 0 10px 0;
      }

      p {

        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }

    .tags {
      position: relative;
      width: 100%;
      float: left;

      .tag {
        float: left;
        width: fit-content;
        padding: 5px 10px;
        margin: 0 10px 10px 0;

        p {
          display: relative;
          margin: 0;
          font-weight: normal;
        }
      }
    }
  }
}
