.container {
  padding: 100px;

  .content {
    margin: 0 auto;
    max-width: 900px;

    .info {
      width: 100%;
    }

    .thumbnail {
      position: relative;
      margin: 50px 0 100px 0;
      width: 100%;
      height: 500px;

      .image {
        object-fit: cover;
      }
    }

    .info {
      h1 {
        font-size: 3em;
        margin: 0 0 50px 0;
      }
    }

    .main {
      // text-align: center;

      h1 {
        font-size: 2.5em;
      }

      p {
        margin: 20px 0;
        font-size: 1.2em;
      }

      a {
        color: var(--fg-3) !important;
        text-decoration: underline;
      }

      .syntaxHighlighter {
        width: 80%;
        margin: 100px auto;

        > pre {
          margin: 15px 30px !important;
          border-radius: 0 !important;
        }

        * {
          background-color: var(--bg-2) !important;
        }
      }

      .image {
        position: relative;
        margin: 100px auto;
        width: 80%;

        > span {
          position: unset !important;
        }

        img {
          object-fit: contain;
          position: relative !important;
          height: unset !important;
        }
      }
    }
  }

}

@media only screen and (max-width: 900px) {
  .container {
    padding: 150px 50px;

    .content {
      .thumbnail {
        height: 300px;
        margin: 50px 0;
      }

      .main {
        p {
          margin: 20px 0;
        }


        .syntaxHighlighter {
          margin: 50px auto;
          width: 100%;
        }

        .image {
          margin: 50px auto;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 150px 20px 50px 20px;
  }
}