.container {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--layout-border-width);
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-1);

  .containerInner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-2);

    .fader {
      user-select: none;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 250px;
      background: linear-gradient(180deg, var(--bg-2) 0%, #00000000 100%);
    }

    >canvas {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    >* {
      z-index: 1;
    }

    .menuTitle {
      position: absolute;
      top: 30px;
      left: 30px;

      h2 {
        font-weight: bolder;
        margin: 0;
      }
    }

    .menuIcon {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      padding: 0;

      svg {
        color: var(--fg-1);
        width: 100%;
        height: 100%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      top: 0px;
      left: 30px;
      height: 100%;
      width: 30px;
      padding: 100px 0;

      p {
        opacity: 0.6;
        transform: rotate(-90deg);
        white-space: nowrap;
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      scrollbar-width: none;
    }

    .content::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .containerInner {
      .info {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
}